$colossus-blue: #11133c;
$off-white: #f9ead4;
$t800-black: #010203;
$white: #ffffff;
$boris-orange: #f9a86f;
$medium-grey: #fbf8f3;
$highlight-blue: #2642be;
$highlight-background: rgba(38, 66, 190, 0.2);
$focus-color: #97ffb3;

$focus-border-width: 4px;
